form .btn-secondary {
    margin-left: 2%;
}

body {
    background-color: #343a40 !important;
}

#messages {
    width: 100%;
    height: 90%;
    position: block;
    /* display: flex; */
    /* background-color: red; */
}


.message {
    width: 100% !important;
    border: thin solid black;
    background-color: #343a40 !important;
    border-radius: 0px !important;
    display: block !important;

}

p {
    color: white;
}

.date {
    color: grey;
    font-weight: normal;
    text-align: right;
    margin-left: 60%;
}

.content, .author {
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.author {
    font-weight: bold;
}

#chatboxDiv {
    position: sticky !important;
    bottom: 0 !important;
    height: 10% !important;
    width: 100% !important;
    padding: 1rem;
    /* display: flex; */
}

#chatbox {
    width: 100% !important;
}

#chatboxDiv .form-control {
    background-color: #343a40 !important;
    color: white !important;
    border: 0 !important;
}

#chatboxDiv .form-control:hover {
    filter: brightness(1.2);
}

input, .btn {
    transition-duration: .2s !important;
}

.form-title {
    font-weight: bold;
    font-size: 1.5rem;
}