form .btn-secondary {
    margin-left: 2%;
}

body {
    background-color: #343a40 !important;
}

#messages {
    width: 100%;
    height: 90%;
    position: block;
    /* display: flex; */
    /* background-color: red; */
}


.message {
    width: 100% !important;
    border: thin solid black;
    background-color: #343a40 !important;
    border-radius: 0px !important;
    display: block !important;

}

p, h1 {
    color: white;
}

.date {
    color: grey;
    font-weight: normal;
    text-align: right;
    margin-left: 60%;
}

.content, .author {
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.author {
    font-weight: bold;
}

#chatboxDiv {
    position: sticky !important;
    bottom: 0 !important;
    height: 10% !important;
    width: 100% !important;
    padding: 1rem;
    /* display: flex; */
}

#chatbox {
    width: 100% !important;
}

#chatboxDiv .form-control {
    background-color: #343a40 !important;
    color: white !important;
    border: 0 !important;
}

#chatboxDiv .form-control:hover {
    filter: brightness(1.2);
}

input, .btn {
    transition-duration: .2s !important;
}

#channelCardContainer {
    /* display: flex; */
}

.form-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.card {
    margin: 0.5rem !important;
    display: inline-block !important;
    transition-duration: .2s !important;
}

.card:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .205) !important;
}

.channel-button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0rem !important;
    margin-left: 0.5rem !important;
}

.error-h1 {
    text-align: center !important;
}

